body {
    background-image:url("images/purple.jpeg");
    background-size:100% 100%;
    height:100vh;
    display: flex;
    flex-wrap:wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
div {
    height: 150px;
    width: 150px;
    border: 6px solid black;
    background: gray;
    border-radius: 100%;
}

div#green {
background: lemonchiffon;
border: dashed 6px yellow;
} 





div#blue {
background: plum;
border: solid 6px rebeccapurple;
}
div#red {
    background:red;
border:dotted 6px darkred;
}

#red{
    position:absolute;
    border-radius: 100%;
    color:aqua;
    display:flex;
    justify-content: center;
    align-items:center;
}

    










